<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="com.ttdo.gateway.helper.infra.mapper.PermissionPlusMapper">-->


<!--    <select id="countAvailableRole" resultType="java.lang.Integer">-->
<!--        <bind name="now" value="@java.time.LocalDate@now().toString()" />-->
<!--        select-->
<!--        count(1)-->
<!--        from iam_member_role imr-->
<!--        join iam_role ir on imr.role_id = ir.id-->
<!--        where ir.is_enabled = 1-->
<!--        and imr.role_id = #{roleId}-->
<!--        and imr.member_id = #{memberId}-->
<!--        and imr.member_type = #{memberType}-->
<!--        and (-->
<!--        imr.start_date_active is null-->
<!--        or imr.start_date_active &lt;= #{now}-->
<!--        )-->
<!--        and (-->
<!--        imr.end_date_active is null-->
<!--        or imr.end_date_active >= #{now}-->
<!--        )-->
<!--    </select>-->

<!--</mapper>-->
